<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.scalaproject.androidminer"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="barcode" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_notification" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/c_white" />

        <activity
            android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:screenOrientation="behind">
        </activity>

	    <activity
            android:name=".QrCodeScannerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="QrCode"
            android:launchMode="singleTask"
            android:screenOrientation="behind" />

        <activity
            android:name=".WizardHomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Welcome"
            android:launchMode="singleTask"
            android:screenOrientation="behind" />

        <activity
            android:name=".VaultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Vault"
            android:launchMode="singleTask"
            android:screenOrientation="behind" />

        <activity
            android:name=".WizardAddressActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Address"
            android:launchMode="singleTask"
            android:screenOrientation="behind" />

        <activity
            android:name=".PoolActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Pool"
            android:launchMode="singleTask"
            android:screenOrientation="behind" />

        <activity
            android:name=".WizardSettingsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Settings"
            android:launchMode="singleTask"
            android:screenOrientation="behind" />

        <activity
            android:name=".SupportActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Support"
            android:launchMode="singleTask"
            android:screenOrientation="behind" />

        <activity
            android:name=".PaymentsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Payments"
            android:launchMode="singleTask"
            android:screenOrientation="behind" />

        <activity
            android:name=".BaseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Base"
            android:launchMode="singleTask"
            android:screenOrientation="behind" />

        <service
            android:name=".MiningService"
            android:enabled="true"/>

        <receiver
            android:name=".NotificationsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="OPEN_ACTION"/>
                <action android:name="STOP_ACTION"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
