<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.scalaproject.androidminer"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="barcode" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/c_white" />

        <activity
            android:name="io.scalaproject.androidminer.MainActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="io.scalaproject.androidminer.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

	    <activity
            android:name="io.scalaproject.androidminer.QrCodeScannerActivity"
            android:parentActivityName="io.scalaproject.androidminer.MainActivity">
        </activity>

        <activity
            android:name="io.scalaproject.androidminer.WizardHomeActivity"
            android:parentActivityName="io.scalaproject.androidminer.MainActivity">
        </activity>

        <activity
            android:name="io.scalaproject.androidminer.WizardAddressActivity"
            android:parentActivityName="io.scalaproject.androidminer.MainActivity">
        </activity>

        <activity
            android:name="io.scalaproject.androidminer.WizardPoolActivity"
            android:parentActivityName="io.scalaproject.androidminer.MainActivity">
        </activity>

        <activity
            android:name="io.scalaproject.androidminer.WizardSettingsActivity"
            android:parentActivityName="io.scalaproject.androidminer.MainActivity">
        </activity>

        <activity
            android:name="io.scalaproject.androidminer.BaseActivity"
            android:parentActivityName="io.scalaproject.androidminer.MainActivity">
        </activity>

        <service
            android:name="io.scalaproject.androidminer.MiningService"
            android:enabled="true"/>

        <receiver
            android:name="io.scalaproject.androidminer.NotificationsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="OPEN_ACTION"/>
                <action android:name="STOP_ACTION"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
